[[inputs.net_irtt]]

  ## these ones you probably want to adjust.
  ## irtt server should be listening on remote_address, with the same hmac_key configured

  remote_addresses = [ "127.0.0.1:2112", "192.168.1.1:2112" ]
  hmac_key = "wazzup" 

  ## run the test for 5s
  duration = "5s"

  ## send packets every 20ms, 100b payload
  ## very similar to RTP

  interval = "20ms"
  # packet_length = 100

  ## override as needed 

  local_address = ":0"
  open_timeouts = ["1s"]
  ipv4 = true
  ipv6 = false
  ttl = 64

  ## uncomment to remove unneeded fields
  fielddrop = [ "RTTMin", "IPDVMin" ]
